/*Ações feitas pelo JavaScript*/

/*Muda a cor para alertar algum dado inválido do paciente*/
.paciente-invalido {
    color: white;
    background: tomato;
}

/* Mensagem de aviso para os dados inválidos. */
#mensagens-erro {
    font-size: 1rem;
    font-style: italic;
    color: tomato;
    margin-left: 2em;
    position: relative;
}

/* Transição de opacidade (animação) ao deletar um paciente da tabela. */
.fadeOut {
    opacity: 0;
    transition: .5s;
}

/* Deixa invisível ao filtrar os pacientes. */
.invisivel {
    display: none;
}

/* Resposta ao usuário, caso haja um erro na busca dos pacientes (erro no Ajax). */
#erro-ajax {
	font-size: 1rem;
    font-style: italic;
    color: tomato;
}